// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title a {
color: #337ab7;
    text-decoration: none;
        font-size: 30px;
    font-weight: 400;
    font-family: Georgia;
}


.content {
  color: black;

}


.title_update {
padding-left: 100px,
}

.content_update {

    position: absolute;
    box-sizing: border-box;
    min-width: 40%;
    display: block;
    margin-top: 0px;
    width: 659px;
    height: 246px;
    margin-left: 0px;

}
